body{
  background-color: #ADEFD1FF;
}

hr{
  border-style: none;
  border-top-style: double
  background-color: #ADEFD1FF;
  border-width: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: #ADEFD1FF;
}
